name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.14.3"

      - name: Build
        run: gradle --no-daemon jar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: PinyinSearchSupport
          path: build/libs/PinyinSearchSupport.zip

      - name: GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/PinyinSearchSupport.zip
          body_path: RELEASE_NOTES.md
